{#<svg style="display:none;">
{% include "partials/cross.svg" %}
{% include "partials/hamburger.svg" %}
</svg>#}
<header class="o-header o-header--theme-light" data-o-component="o-header">
  <div class="o-header__bottom">
    <div class="o-header__container">
      <div class="o-header__left">
        <div class="o-header__logo">
          <a class="o-header__logo-link" href="http://www.ftchinese.com" target="_blank" title="前往FT中文网首页"><span>FT中文网</span><img src="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Finteractive.ftchinese.com%2Flogo-images%2Fbrand-ftc-logo-square.svg?source=ftchinese&height=50&format=png" target="_blank"></a>
        </div>        
      </div>

      <div class="o-header__center">
        
        <div class="o-header__title">
          <span class="o-header__headline">{{title.html}}</span>
          {% if edition %}
          <a class="o-header__edition" href="{{edition.html}}" target="_blank">{{edition.text}}</a>
          {% endif %}          
        </div>
        
        <a class="o-header__masthead" href="/"><img src="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Finteractive.ftchinese.com%2Fftc-logos%2Fbrand-ftc-masthead.svg?source=ftchinese&height=50&format=png"></a>
        
      </div>

      <nav class="o-header__right">

        <button class="o-header__nav-toggle" data-o-component="o-toggle" data-o-toggle-target=".o-header__nav">
          <span>目录</span>
          {#<svg class="o-icons__hamburger">
            <use xlink:href="#o-icons__hamburger"></use>
          </svg>
          <svg class="o-icons__cross">
            <use xlink:href="#o-icons__cross"></use>
          </svg>#}
        </button>
        
        <ol class="o-header__nav">

          {% for group in groups %}
          <li class="o-header__nav-item">
            <a class="o-header__nav-link bdr--{{group.color}}" href="#{{group.id}}">{{group.name}}</a>
          </li>
          {% endfor %}

          {% if edition %}
          <li class="o-header__nav-item mobile">
            <a class="o-header__edition" href="{{edition.href}}" target="_blank">{{edition.text}}</a>
          {% endif %}
          </li>
        </ol>           
      </nav>         
    </div><!-- o-header__container -->    
  </div><!-- o-header__bottom -->

</header>