<!DOCTYPE html>
<html lang="zh-Hans" prefix="og: http://ogp.me/ns#">
<head> 
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{title.text}} - FT中文网</title>
	<script>
		var cutsTheMustard = ('querySelector' in document && 'localStorage' in window && 'addEventListener' in window);

		if (cutsTheMustard) {
			document.documentElement.className = document.documentElement.className.replace(/\bcore\b/g, 'enhanced');
		}
	</script>
  <meta name="author" content="FTC Interactive Graphics">
  <meta name="description" content="{{meta.description}}">
  <meta name="keywords" content="{{meta.keywords}}">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="copyright" content="FT中文网">
  <meta name="robots" content="index,follow">

  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="default" />

  <meta property="og:title" content="{{meta.og.title}}"/>
  <meta property="og:type" content="article"/>
  <meta property="og:image" content="{{meta.og.image}}"/>
  <meta property="og:url" content="{{ogUrl}}">
  <meta property="og:description" content="{{meta.og.description}}" />
  <meta property="og:locale" content="zh-Hans">
  <meta property="og:site_name" content="{{meta.og.site_name}}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@FTChinese">
  <meta name="twitter:title" content="{{meta.og.title}}">
  <meta name="twitter:description" content="{{meta.og.description}}">
  <meta name="twitter:image" content="{{meta.og.image}}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{env.urlPrefix}}/apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{env.urlPrefix}}/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{env.urlPrefix}}/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{env.urlPrefix}}/apple-touch-icon-76x76.png">
  <link href="{{env.urlPrefix}}/favicon.ico" type="image/x-icon" rel="shortcut icon"/>
  <link inline rel="stylesheet" type="text/css" href="/styles/main.css">

{% if env.isProduction %}
  {% include "partials/analytics.html" %}
{% endif %}
</head>

<body class="numbers-{{pageGroup}}">
<img src="{{meta.wx}}" style="display:block; width:0px; height:0px; overflow:hidden">
{% include "partials/header.html" %}

<article id="site-content" class="article o-grid-container" role="main">
{% block content %}{% endblock %}
</article>

{% include "partials/o-footer.html" %}

{% block js %}{% endblock %}

{% if  env.isProduction %}
<script src="http://static.ftchinese.com/js/log.js?v=6"></script>
{% endif %}
</body>
</html>