.card {
	
	background-color: #fff9f1;
	border-radius: 4px;
	height: 100%;
	// min-height: 480px;
	overflow: auto;

	border: 1px solid oColorsGetPaletteColor('pink-tint3');

	@include oGridRespondTo($from:S, $until:M) {
		min-height: inherit;
	}

	&,
	& > * {
		box-sizing: border-box;
	}

	& > * {
		padding: 10px 12px;
	}

	p {
		margin: 0 auto 1em;
		// line-height: 1.5;
	}

	figure {
		margin: 0 auto 0.75em;
		img {
			width: 100%;
		}
		object {
			max-width: 100%;
			width: 100%;
		}
		svg {
			width: 100%;
		}
	}

	a {
		text-decoration: none;
		color: #2e6e9e;
		transition: color 0.3s;

		&:hover {
			color: #000;
			transition: color 0s;
		}
	}

	&__title {
		padding: 0;
		margin: 0;
		font-weight: 600;
		font-size: 14px;
		line-height: 2;
	}

	&__header {
		color: #fff;
	}

	&__body {
		&:after {
			content: '';
			display: table;
			clear: both;
		}
	}

	&__footer {
		color: oColorsGetPaletteColor(pink-tint5);
		font-size: 12px;

		& :last-child {
		  margin-bottom: 0;
		}
	}

  &--index {
    color: #ffffff;
    border-width: 0;
  }

	&__group-item {
		@include oGridColspan((default: 12, M: 6, L: 4, XL: 3));

      // @include oGridRespondTo($from:S, $until:M) {
      //   padding: 6px 0;
      // }

      // @include oGridRespondTo(M) {
      //   display: flex;
      // }

      margin-bottom: 10px;

      // & > * {
      //   flex: 1 1 0%;
      // }		
	}
}

.card--index {
	.card__title {
		font-weight: 600;
		font-size: 26px;
		// padding: 20px 0;
	}

	.card__body {
		padding-top: 0;
	}

	a {
		color: #fff;
		border-bottom: 1px solid rgba(255, 255, 255, 0.5);
		&:hover {
			color: #fff;
			border-color: rgba(255, 255, 255, 0.8);
		}
	}
}

